/* Remove the fixed height for the map container */
.map-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; /* Adjust the left value to match the sidebar width */
}

/* MapboxMap.css */

/* Sidebar.css */
/* Add the same reset for body and html if necessary */
